.navbar {
    background: linear-gradient(to right, #DA498D, #FAC67A);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 100;
    height: 30px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.navbar ul li {
    margin: 0 20px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li a:hover {
    color: #69247C;
    text-decoration: underline;
}

.navbar ul li {
    color: white;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.navbar ul li:hover {
    color: #69247C;
    text-decoration: underline;
}

.search-form {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.search-form input {
    padding: 8px 15px;
    font-size: 16px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 200px;
    transition: width 0.3s ease;
}

.search-form input:focus {
    width: 250px;
}

.search-form button {
    padding: 10px 15px;
    font-size: 16px;
    border: none;
    background-color: #69247C;
    color: white;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
    transition: background-color 0.3s ease;
}

.search-form button:hover {
    background-color: #DA498D;
}

@media (max-width: 600px) {
    .search-form input {
        width: 100px;
    }

    .search-form input:focus {
        width: 120px;
    }
}