.quiz-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #ff9a9e, #fad0c4);
}

.card-wrapper {
    position: relative;
}

.next-button {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    background: rgba(255, 127, 179, 0.9);
    border: none;
    color: white;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: 0.3s;
}

.next-button-wrapper {
    text-align: center;
}

.next-button:hover {
    background: rgba(255, 95, 148, 0.9);
}